<div id="propiedades" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/propiedades.less</em>, <em>assets/js/pages/propiedades.page.js</em>, and <em>api/controllers/view-propiedades.js</em>.)</p>

  <h2> Aquí irá la implementación para ver las propiedades <h2> 

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
